ansi==0.1.3
asn1crypto==0.24.0
beautifulsoup4==4.6.1
bottle==0.12.13
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
colorlog==3.1.4
cryptography==3.2
daemonize==2.4.7
dnspython==1.15.0
dnspython3==1.15.0
errbot==5.2.0
fake-useragent==0.1.10
idna==2.7
inflect==1.0.0
irc==16.4
jaraco.classes==1.5
jaraco.collections==1.5.3
jaraco.functools==1.20
jaraco.itertools==2.4
jaraco.logging==1.5.2
jaraco.stream==1.2
jaraco.text==1.10.1
Jinja2==2.10
lxml==4.2.4
Markdown==2.6.11
MarkupSafe==1.0
more-itertools==4.3.0
pycparser==2.18
Pygments==2.2.0
pygments-markdown-lexer==0.1.0.dev39
pyOpenSSL==18.0.0
pytz==2018.5
requests==2.19.1
rocket-errbot==1.2.5
six==1.11.0
tempora==1.13
urllib3==1.23
waitress==1.1.0
WebOb==1.8.2
WebTest==2.0.30
Yapsy==1.11.223
